.App {
  display: flex;
}

.column {
  flex-grow: 1;
  text-align: center;
  margin: 25px;
  border: 1px #ccc solid;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px #eee solid;
}

.card {
  padding: 30px;
  display: flex;
}

.card span {
  flex-grow: 1;
}
